/*---MI ESTILO*/

html{
	height: 100%;
}
.jumbotron{
	background-color: transparent;
    background-position: top center;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}

/* LESS THAN 48 */
@media only screen and (min-width : 320px) { 
	.jumbotron {
		
	background-image: url('../img/backgroudo_w_640.jpg'); 
	}
 }

 @media only screen and (min-width : 480px) {
  .jumbotron {
    
  background-image: url('../img/backgroudo_w_640.jpg'); 
  }
 }

@media only screen and (min-width : 768px) {
.jumbotron {
    
  background-image: url('../img/backgroudo_w_640.jpg'); 
  }
 }

 @media only screen and (min-width : 992px) {
 .jumbotron {
    
  background-image: url('../img/backgroudo_w_1061.jpg'); 
  }
 }	
 

    /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
 .jumbotron {
    
  background-image: url('../img/backgroudo_w_1400.jpg'); 
  }
 }	